<!-- <div class="container">
  <app-question *ngFor="let q of questions" [question]="q"></app-question>
  <button mat-raised-button (click)="checkAnswers()">
    Check If All Answered
  </button>
  <p *ngIf="allAnswered">✅ All Questions are Answered</p>
  <p *ngIf="!allAnswered && checked">❌ Some Questions are NOT Answered</p>
</div> -->


<div class="container">
  <div *ngFor="let q of newQuestions; let i = index" class="d-flex">
    <app-question [question]="q.text"></app-question>
    <button mat-icon-button color="warn" (click)="removeQuestion(i)"><mat-icon>delete</mat-icon></button>
  </div>
  <hr>
  <mat-form-field appearance="outline">
    <mat-label>New Question: </mat-label>
    <input matInput [(ngModel)]="newQuestion">
  </mat-form-field>
  <button mat-fab color="primary" (click)="addQuestion()"><mat-icon>add</mat-icon></button>
  <hr>
  <button mat-stroked-button color="accent" (click)="checkAnswers()"> Check if All Answered</button>
  <p *ngIf="allAnswered">✅ All Questions are Answered</p>
  <p *ngIf="!allAnswered && checked">❌ Some Questions are NOT Answered</p>
</div>
