<!-- <div class="container">
  <app-topic [topic]="'Custom Structural Directives Demo'"></app-topic>

  <p appHighlight="tomato" class="box">
    Hover me to highlight with light green color
  </p>
  <p appHighlight class="box">
    Hover me to highlight with defalt color(Yellow)
  </p>


  <div *appPermission="'admin'" class="box admin">
    ✅ Only Visible to Admins
  </div>


  <div *appIfNot="isLoggedIn" class="box guest">❌ You are not Logged In.</div>


  <div *appRepeat="repeatCount" class="box repeat">🔄️Repeat Block</div>
</div> -->

<!-- <div class="container">
  <div class="mt-3">
    <mat-form-field appearance="outline">
      <mat-label>Enter Something...</mat-label>
      <input matInput #input placeholder="Enter Something">
    </mat-form-field>
  </div>
  <div>
    <button mat-stroked-button color="warn" (click)="onClick(input.value)">Click Me</button>
  </div>
  <app-demo [message]="inputValue"></app-demo>

  <app-demo></app-demo>
</div> -->
<!-- <div class="container">
  <h4>Home Component</h4>
   <div class="mt-3">
    <mat-form-field appearance="outline">
      <mat-label>Enter Something...</mat-label>
      <input matInput #input placeholder="Enter Something">
    </mat-form-field>
  </div>
  <div>
    <button mat-stroked-button color="warn" (click)="onClick(input.value)">Click Me</button>
  </div>
  <div *ngIf="count < 5">
<app-demo>
    <h3 #para>Demo comp: This is Projecting From Home Component</h3>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus </p>

    <h5 class="text-danger">Input Value: {{myInputValue}} </h5>
  </app-demo>
  </div>

</div> -->

<!-- <div class="container">
  <div class="m-3 w-75">
    <div class="home-component">
      <h2>Home Component</h2>
      <p>This is <b>Home</b> Component</p>
      <button>Button</button>
    </div>
    <div class="component-container">
      <app-comp1></app-comp1>
      <app-comp2></app-comp2>
    </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="d-flex gap-2">
      <button mat-raised-button color="primary" [routerLink]="['/login']">Login</button>
      <button mat-raised-button color="warn" [routerLink]="['/dashboard']">Dashboard</button>
    </div>
  </div>
</div> -->

<div class="container">
  <h2>canActivateChild Demo</h2>
  <div class="d-flex gap-3">
    <button mat-raised-button color="primary"

    (click)="loginAsAdmin()">Admin</button>

    <button mat-raised-button color="accent"

    (click)="loginAsUser()">User</button>
    <button mat-stroked-button color="warn"

    (click)="logout()">Logout</button>
  </div>
  <hr />
  <nav>
    <a routerLink="/admin/dashboard">Admin Dashboard</a> |
    <a routerLink="/admin/users">Users </a> |
    <a routerLink="/admin/settings">Admin Settings</a>
  </nav>

  <hr />
  <h3>canDeactivate Demo</h3>
  <div class="container">
    <button mat-stroked-button color="warn"
    [routerLink]="['/edit-profile']">Edit Profile</button>
  </div>
</div>
<hr />
<div class="container">
  <h3>Built-in-Pipes Examples</h3>
  <button mat-raised-button color="primary" [routerLink]="['/built-in-pipes']">Built In Pipes</button>
</div>
<hr />
<div class="container">
  <h3>Custom-Pipes Examples</h3>
  <button mat-stroked-button color="warn" [routerLink]="['/custom-pipe']">Custom Pipes</button>
</div>

