<div
  class="container"
  style="
    border: 2px solid green;
    height: 200px;
    padding: 10px;
    background-color: aliceblue;
  "
>
  <h2>This is Child Panel Component</h2>
  <strong style="color: green"
    >The following content is getting from Parent Panel and showing with
    "ng-content"</strong
  >

  <h3>
    <!-- <ng-content></ng-content> -->
  </h3>

  <strong style="color: red"
    >The following contetn getting from parent panel and showing with instnace
    of ContentChild()</strong
  >
  <h4>{{ paragraph }}</h4>
</div>
