<!-- <div class="container">
  <h2>Edit Profile</h2>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name: </mat-label>
      <input matInput [(ngModel)]="myName" name="myName" />
    </mat-form-field>

  </form>
  <button mat-raised-button color="warn" (click)="save()">Save</button>
  <button mat-raised-button color="primary" [routerLink]="['/home']">
    Home
  </button>
</div> -->
<div class="container">
  <h2>Edit Profile</h2>
  <form  #profileForm="ngForm">
    <div class="form-group row col-10">
     <mat-form-field appearance="outline">
      <mat-label>Full Name: </mat-label>
      <input matInput type="text" name="name"
      [(ngModel)]="user.name"
      (ngModelChange)="onInputChange()"
      required>
     </mat-form-field>
    </div>
    <div class="form-group row col-10">
     <mat-form-field appearance="outline">
      <mat-label>Email: </mat-label>
      <input matInput type="email" name="name"
      [(ngModel)]="user.name"
      (ngModelChange)="onInputChange()"
      required>
     </mat-form-field>
    </div>
  </form>
</div>
