<div class="container">
  <div class="card w-50 mx-auto mt-4 shadow">
    <div class="card-header text-center bg-light fw-bold">
      Selected Course (Route Params)
    </div>
    <div class="card-body">
      <div class="row mb-2 gap-2">
        <div class="col border">
          <h6 class="text-primary"> ✅Using paramMap.subscribe()</h6>
          <p><strong>Id: </strong>
          {{myCourseID}}</p>
        </div>
        <div class="col border">
          <h6 class="text-danger"> ❌ using Snapshot</h6>
          <p><strong>Id: </strong>
          {{snapshotCourseID}}</p>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <button mat-stroked-button color="warn" (click)="previousCourse()">Previous Course</button>
        <button mat-stroked-button color="primary" (click)="nextCourse()">Next Course</button>
      </div>
    </div>
  </div>
</div>
